*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {text-decoration: none; }
ul,li {list-style: none; }

h1,h2,h3,h4 { 
    font-weight: inherit;
    font-size: inherit;
}



:root
{
	--color-dark: black;
	--color-light: #fafafa;
    --color-shadow:#7878782d;
    --color-bacground:#150c0f;
    /*--*/
    --color1:#003B46;
    --color2:#07575B;
    --color3:#66A5AD;
    --color4: #C4DFE6;
}

.wrapper{
    width: 100%;
    height: 100vh;
    font-family: monospace;
}

.background{
    
    width: 100%;
    height: 100%;
    background:var(--color1);
    position: fixed;
   
}

/*---------header-------*/

.wrapper-content{
    width: 100%;
    position: absolute;
    z-index: 5;
    /* border: 20px solid blue;   */
    height: 100%;
}





._container{
    max-width: 1246px;
    margin: 0 auto; /*выстроили по середине*/
    padding: 0 12px;
    box-sizing: content-box;
    background-color: var(--color-shadow);
    height: 100%;
    
}
@media (max-width: 1351px) {
   
    ._container{
        
        margin: 0 30px;
        
    }
}
    

.header-logo{
    /* border: 2px solid green; */
    text-align: center;
    flex: 0 auto;
    line-height: 200%;
}

.header_logo_title{
    
    letter-spacing: 3px;
    font-weight: 900;
    color:var(--color-light);
    font-size: 31px;
   
    
}

.header_logo_subTitle{
    letter-spacing: 3px;
    font-weight: 200;
    color:aquamarine;
    font-size: 30px;
}

.header-logo>*:not(:last-child){ 
    margin: 20px 0 0;
}

@media (max-width: 600px) {
    .header-logo{
        font-size: 24px;
    }
   
}

 .wrapper-content>*{
    margin-bottom: 40px;
} 



/*---------main-------*/

.main-page{
    
    width: 100%;
    height: 600px;
    text-align: center;
}


 .main-page-btn{
    
    position: relative;
    top:400px;
    display: inline-flex;
    
    
} 

.btn{
   
  display: inline-block;
  color: var(--color1);
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, var(--color2) 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.btn:hover{
    background: var(--color3);
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: var(--color1);
  transform: translateY(-7px);
}



@media (max-width: 700px) {
    
    .btn{
        padding: 18px 26px;
        margin: 10px 20px;
        font-size: 15px ;
    }
   
   
}

.footer{
    width: 100%;
    height: 130px;
    text-align: center;
    padding: 0px 0 20px 0;
    
}

.footer-contacts{
border: 2px solid none;

}

.contacts_name{
   
    letter-spacing: 3px;
    font-weight: 200;
    color:aquamarine;
    font-size: 30px;
    margin-top: 10px;
}

.contacts-telegramm{
    display: inline-flex;
    margin: 15px 0;
    text-align: center;
    width:auto;
    font-family: 'Montserrat', sans-serif;
}
.contacts-telegramm img{
    height: 15%;
    width: 15%;
}

.contacts_telegramm{
    letter-spacing: 3px;
    font-weight: 500;
    color:aquamarine;
    font-size: 20px;
}

@media (max-width: 500px){
    .contacts_name{
        font-size: 20px;
        padding: 10px 0 0 0;
    }
    .contacts_telegramm{
        font-size: 18px;
    }
}

@media (max-width: 600px){
    .background{
        height: auto;
    }
    
}


.random-codes{
    width: 100%;
    opacity: 0.2;
}

.rangom-code{
    width: 100%;
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: 2px;
    white-space: pre-wrap; 
    animation:  printed_text 5s steps(29); 
   }
         
         
 @keyframes printed_text {
    from {
    width: 0;
    }
}
     


