*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {text-decoration: none; }
ul,li {list-style: none; }

h1,h2,h3,h4 { 
    font-weight: inherit;
    font-size: inherit;
}



:root
{
	--color-dark: black;
	--color-light: #fafafa;
    --color-shadow:#7878782d;
    --color-bacground:#150c0f;
    /*--*/
    --color1:#003B46;
    --color2:#07575B;
    --color3:#66A5AD;
    --color4: #C4DFE6;
}

.general_wrapper{
    /* background-color: #150c0f; */
    background: linear-gradient(to bottom left, var(--color2) 50%,
    #bfb7b2 50%); 
    height: 120vh;
}

.wrapper{
    width: 65%;
    height: 100%;
    background-color: var(--color3);
    color:   #bfb7b2; 
    border:2px solid var(--color-shadow);
    margin-left: auto;
    margin-right: auto;
    box-shadow: -1em 0 30em var(--color3);
    
}

.header{
    width: 100%;
    height: auto;
     /* border:2px solid red;   */
     height: 140px;
     
    padding: 10px 20px;
    
    
}

.header_container{
    /* border:2px solid rgb(83, 57, 57);  */
    
    width: 12%;
    height: auto;

   
    
}

.header_logo{
    font-size: 44px;
    font-weight: 700;
    color:inherit;
    line-height: 171.5%;
    display: block;
    color:#003B46; 
    
    
    
}
.header_logo p{
    position: absolute;
    z-index: 5;
    top:7%;

   
    
}
.header_logo span{
    font-weight: 500;
    position: absolute;
    z-index: 5;
   
}




/*-------*/

.header_logo-oval-container{
    width: auto;
    /* border:2px solid green;     */
    display: flex;
   align-items: center;
   margin-left: -13px; 
   position: absolute;
   top:124px;
   
   
   
    
}



/*---*/

.main-page{
    width: 100%;
    height: 100vh; /*!!!!!!!!!!!!!!!!!!!*/
    /* border: 2px solid green;  */
    
}

.main-page_container{
     width: 100%; 
     /* border: 2px solid orange; */
     height: 100%;
     padding: 20px;
}

.main-page-boxes{
    width: 100%; 
     /* border: 2px solid red; */
     height: 100%;
     display: flex;
     
     
}


.oval{
    width: 36px; 
    height: 120px;
      
    border-radius: 100px/90px;
    margin: -31px 7px;
   

}

._medium{
    height: 160px;
    background: linear-gradient( var(--color3) 17%,
    var(--color1) 70%);  
    animation: animate_oval 1.8s infinite;
}
._long{
    height: 200px;
    background: linear-gradient( var(--color3) 24%,
    var(--color1) 70%); 
    animation: animate_oval 2s infinite; 
   
}
._short{
    height: 140px;
    background: linear-gradient( var(--color3) 15%,
    var(--color1) 70%);  
    animation: animate_oval 2.1s infinite;
}


.animate_oval:hover {

	animation: none;

}

 

@keyframes animate_oval {

	0% {

		transform: scale3d(1, 1, 1);

	}

	50% {

		transform: scale3d(1.01, 1.7, 1.1);

	}

	100% {

		transform: scale3d(1, 1, 1);

	}

}


.main-page-box{
    width: 50%; 
    
    height: 90%;
    margin-right: 10px;
    padding: 10px;
    color:#003B46;
   
    
   
}
.box{
    width: 100%; 
     /* border: 2px solid var(--color-light);    */
    height: 80%;
   
    
}
._left{
    margin-top: 150px;
}

._right{
    height: 50%;
    margin: -5%;
    
    
}

.boxImg{
    width: 111%;
    height: 80%;
    position:relative;
    padding-bottom:50px;
    top:-7% ;
    
}
.boxImg img{
    width: 100%;
    height: 100%;
    position:absolute;
    bottom:0;
    
   
   
}

._rightImg{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
   
    top: 4%;
   
}

._rightImg img{
    width: 100%;
    height: 100%;
}
._rightImg1{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    
    margin-top: 30%;
}

.box-text{
   
     
    text-align: center;
    color:palegreen;
    font-family: monospace;
        display: flex;
        justify-content: center;
        font-size: 20px;
        margin-top: 10px;
        

}
.box-text p{
   
    
 width: 50%;
 white-space: nowrap; /* не переносить текст на другую строку */
  overflow: hidden; /* скрываем переполнение контентом */
 border-right: 3px solid white; /* рисуем курсор */
  animation: cursor 0.75s step-end infinite, printed_text 5s steps(29);
}
      
      @keyframes cursor {
        0% {
          border-color: white;
        }
      
        50% {
          border-color: transparent;
        }
      
        100% {
          border-color: white;
        }
      }
      
      @keyframes printed_text {
        from {
          width: 0;
        }
      }
      