*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {text-decoration: none; }
ul,li {list-style: none; }

h1,h2,h3,h4 { 
    font-weight: inherit;
    font-size: inherit;
}

img { vertical-align: top;}

:root
{
	--color-dark: black;
	--color-light: #fafafa;
	--color-top2022: #6667ab;
	--color-myLOve: #b5cfe9;
    --color-shadow:#7878782d;

    --color1:#003B46;
    --color2:#07575B;
    --color3:#66A5AD;
    --color4: #C4DFE6;
}


.wrapper{
    border: 2px solid red;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: 'Ibarra Real Nova', serif;
    background-color: var(--color-light);
    
}
.header{
    border: 2px solid red;
   
    
    
}

._container{
    max-width: 1446px;
    margin: 0 auto; /*выстроили по середине*/
    padding: 0 12px;
    box-sizing: content-box;
   
   
}

.header-menu{
    display: flex;
    min-height: 104px;
    align-items: center;
    box-shadow: inset 0 -1px  0 var(--color-light);
    color:var(--color-light);
      
      color: var(--color-top2022);
      justify-content: center;
    align-items: center;
    
}
.menu_list{
     
    flex-wrap: wrap; /*ломается меню красивл*/
    display: flex;
    
    
}

.menu_item{
    display: inline;
    
    margin: 0 10px;
    color:var(--color2);
    
}
.menu_link{
    color:var(--color2);
    font-size: 20px;
    letter-spacing: 0.2px;
    line-height: 245%;
    font-weight: 700;
}

.header-logo
{
    /* border: 2px solid red;  */
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: 800;
    color:var(--color1);
    font-size: 45px;
    line-height: 245%;
}


.header-menu >*:not(:last-child){ /*первого уровня ко всем кто есть в боди маин*/
    
    justify-content: center;
    align-items: center;
}

.btn{
    width: 180px;
    height: 50px;
    text-align: center;
    letter-spacing: 3px;
    color: var(--color-light);
    background: var(--color2);
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.btn:hover{
    background: var(--color3);
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color: var(--color1);
  transform: translateY(-7px);
}

.header-title{
    border: 2px solid saddlebrown;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.title{
    width: 50%;
    text-align: center;
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: 800;
    color:var(--color1);
    font-size: 30px;
    line-height: 245%;
    border: 2px solid saddlebrown;
    margin:  0 auto;
}




.header-container >*:not(:first-child){ /*первого уровня ко всем кто есть в боди маин*/
    margin: 80px 0  ;
    justify-content: center;
    align-items: center;
    
}

.header-title>*:not(:first-child){ /*первого уровня ко всем кто есть в боди маин*/
    margin: 80px 0 0 0   ;
    justify-content: center;
    align-items: center;
}